* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root{
  --blue-top: rgb(0, 102, 255);
  --light-black: rgba(0,0,0,0.5);
  --light-white: rgba(255, 255, 255, 0.932);
}
li{
  list-style: none;
}
.home {
  color: var(--light-white);
  background: var(--blue-top);
  border-radius: 5px;
}
a:hover{
  color: var(--light-white);
  background: var(--blue-top);
  border-radius: 5px;
}
#logo{
  font-size: 1rem;
  font-weight: bold;
}
#header{
  display:flex;
  padding: 1rem;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  background: var(--light-gray);  
}
#menu{
  display: flex;
  gap: 0.5rem;
}
a{
  color: var(--blue-top);
}
#menu a{
  display: block;
  padding: .5rem;
  text-decoration: none;
  transition: all 0.5s;
}
#btn-mobile{
  display: none;
}
.section-1 {
  background-image: url('../img/musculacao.jpg');
  height: calc(100vh - 70px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
}
.div-section-1 {
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgba(255, 255, 255, 0.13);
  padding: 3%;
}
.div-section-1 h1 {
  color: var(--light-white);
  font-size: min(4.5vw, 64px);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
} 
.div-section-1 h2 {
  color: var(--light-white);
  font-size: min(4vw, 64px);
  margin-bottom: 10px;
}
.div-section-1 p {
  color: var(--light-white);
  min-width: 300px;
  max-width: 400px;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
}
.section-2 {
  height: 100vh;
  overflow-y: hidden;
}
.div-section-2 {
  width: 90%;
  height: 60%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
#text2 {
  text-align: center;
  color: var(--blue-top);
  font-size: min(4.5vw, 64px);
  text-transform: uppercase;
  padding-top: 3%;
}
.section-2 h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.925);
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px white;
  padding: 5px;
  overflow-y: hidden;
}
.text-servicos {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  align-self: center;
  margin: 5px;
  border: 2px solid rgba(10, 10, 10, 0.171); 
}
.servicos {
  width: 100%;
  height: 100%;
  cursor: pointer;
 }
 .servicos li {
  margin: 5px 15px;
  color: var(--blue-top);
 }
 .text-idoso {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  margin: 5px;
  border: 2px solid rgba(10, 10, 10, 0.171); 
 }
.idoso {
  width: 100%;
  height: 100%;
  background-image: url('../img/idoso.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
 }
.text-crianca {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70%;
  align-self: flex-end;
  margin: 5px;
  border: 2px solid rgba(10, 10, 10, 0.171); 
}
.crianca {
  width: 100%;
  height: 100%;
  background-image: url('../img/crianca.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
 }
.text-servicos:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.text-idoso:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.text-crianca:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.section-3 {
  height: 100vh;
  background: var(--blue-top);
  overflow-y: hidden;
}
.section-3 h2 {
  text-align: center;
  color: white;
  font-size: min(4.5vw, 64px);
  text-transform: uppercase; 
  padding-top: 3%;
}
.container-fotos {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 5px 5px;
}
.combat1 {
  background-image: url('../img/combat1.png');
  background-position: center;
  background-size: cover;
  width: 33%;
  height: 70%;
  border: 2px solid var(--light-white);
  transition: all 1s;
  cursor: pointer;
}
.combat2 {
  background-image: url('../img/combat2.png');
  background-position: center;
  background-size: cover;
  width: 33%;
  height: 70%;
  border: 2px solid var(--light-white);
  transition: all 1s;
  cursor: pointer;
}
.douglas {
  background-image: url('../img/douglas.png');
  background-position: center;
  background-size: cover;
  width: 33%;
  height: 70%;
  border: 2px solid var(--light-white);
  transition: all 1s;
  cursor: pointer;
  
} 
.douglas:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.combat1:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.combat2:hover {
  border: 2px solid rgba(0, 0, 0, 0.911);
}
.section-4 {
  height: 100vh;
  background-image: url('../img/gray.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3%;
} 
.section-4 h2 {
  color: white;
  text-align:center;
  font-size: min(4.5vw, 64px);
  text-shadow:  5px 5px 10px black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.div-img {
  background-image: url('../img/douglasSobre.png');
  width: 50%;
  height: 100%;
  background-position: top;
  background-size: cover;
  filter: grayscale();
  border: 2px solid var(--light-white);
  box-shadow: 5px 5px 10px black;
}
.text-sobre p {
  color: white;
  width: 300px;
  height: 100%;
  letter-spacing: 1px;
  padding-top: 20px;
  line-height: 25px;
  text-shadow: 5px 5px 10px black;
}
.container-sobre {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}
footer {
  width: 100%;
  height: 200px;
  padding: 5%;
  background:rgba(4, 4, 204, 0.945);
  border-top: 3px solid white;
  color: white;
  text-align: center;
  overflow-y: hidden;
}

@media(max-width:1050px){
.div-section-2 {
  flex-direction: column;
  height: 90%;
  justify-content: flex-start;
}  
.text-crianca {
  align-self: center;
  width: 100%;
  height: 30%;
 
}
.text-servicos {
  align-self: center;
  width: 80%;
  height: 30%;
  
}
.text-idoso {
  align-self: center;
  width: 100%;
  height: 30%;
}
}
@media(max-width:900px){
.div-section-2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre {
  align-self: center;
  height: 100%;
  width: 80%;
}
.crianca {
  align-self: center;
  height: 100%;
  width: 80%;
}
.idoso {
  align-self: center;
  height: 100%;
  width: 80%;
}
.container-fotos {
  flex-direction: column;
  align-items: center;
}
.douglas {
  height: 100%;
  width: 70%;
}
.combat1 {
  height: 100%;
  width: 70%;
}
.combat2 {
  height: 100%;
  width: 70%;
}
}

@media(max-width:800px ){
.container-sobre {
  flex-direction: column;
  align-items: center;
}
.text-sobre p {
  width: 100%;
}
.div-img {
  min-width: 150px;
  min-height: 100px;
}
}  
@media(max-width:600px ){
#btn-mobile{
  display: block;
}
#menu{
  visibility: hidden;
  position: absolute;
  display: block;
  width: 100%;
  top:70px;
  right: 0;
  background: var(--light-gray);
  height: 0;
  overflow-y: hidden;
  z-index: 1;
  transition: .6s;
}
#nav.active #menu{
  visibility: visible;
  height: calc(100vh - 70px);
  overflow-y: auto;
}
#menu a{
  padding: 1rem 0.5rem;
  margin: 0 1rem;
  border-bottom: 2px solid var(--light-white
  );
  background: rgb(44, 40, 40);
}
#btn-mobile{
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: .5rem 1rem; 
  gap: .5rem;
}
#hamburger{
  color: black;
  display: block;
  border-top: 2px solid;
  width: 20px;
  height: 20px;
}
#hamburger::after, #hamburger::before{
  content: '';
  display: block;
  width: 20px;
  background: currentColor;
  height: 2px;
  margin-top: 5px;
  transition: .3s;
}
#nav.active #hamburger{
  border-top: none;
}
#nav.active #hamburger::after{
  position: absolute;
  transform: rotate(-135deg);
} 
#nav.active #hamburger::before{
  position: absolute;
  transform: rotate(135deg);
}
.div-section-1 p{
  font-size: 0.8rem;
}
}